alembic==1.1.0
Scrapy==1.5.1
validators==0.12.2
titlecase==0.12.0
tqdm==4.26.0
openpyxl==2.5.7
SQLAlchemy==1.3.1
psycopg2==2.8.3
pyexcel-ezodf==0.3.4
pyexcel-io==0.5.9.1
pyexcel-ods3==0.5.2
pymongo==3.7.1